* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-grid: rgb(255, 255, 255);
  --clr-background: black;
  --clr-font: white;
  --clr-glow: #ffcc00;
}

.cellInput {
  font-size: 2rem;
  text-align: center;
  border: 0.1px solid var(--clr-grid);
  background-color: var(--clr-background);
  color: var(--clr-font);
  outline: none;
}

.read-only {
  color: #fff;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 16px #fff,
    0 0 20px rgb(255, 0, 0), 0 0 24px rgb(255, 217, 0),
    0 0 26px rgb(255, 217, 0), 0 0 28px rgb(255, 217, 0),
    0 0 30px rgb(255, 217, 0);
}

/* to remove arrows in input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.invalid {
  color: red;
}

.cellInput:nth-child(3n) {
  border-right: 2px solid var(--clr-grid);
}

.cellInput:nth-child(9n) {
  border: 0.1px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 1) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 2) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 3) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 4) {
  border-top: 2px solid var(--clr-grid);
}
.cellInput:nth-child(27n + 5) {
  border-top: 2px solid var(--clr-grid);
}
.cellInput:nth-child(27n + 6) {
  border-top: 2px solid var(--clr-grid);
}
.cellInput:nth-child(27n + 7) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 8) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(27n + 9) {
  border-top: 2px solid var(--clr-grid);
}

.cellInput:nth-child(1) {
  border: 0.1px solid var(--clr-grid);
}
.cellInput:nth-child(2) {
  border: 0.1px solid var(--clr-grid);
}
.cellInput:nth-child(3) {
  border: 0.1px solid var(--clr-grid);
  border-right: 2px solid var(--clr-grid);
}
.cellInput:nth-child(4) {
  border: 0.1px solid var(--clr-grid);
}
.cellInput:nth-child(5) {
  border: 0.1px solid var(--clr-grid);
}
.cellInput:nth-child(6) {
  border: 0.1px solid var(--clr-grid);
  border-right: 2px solid var(--clr-grid);
}
.cellInput:nth-child(7) {
  border: 0.1px solid var(--clr-grid);
}
.cellInput:nth-child(8) {
  border: 0.5px solid var(--clr-grid);
}
.cellInput:nth-child(9) {
  border: 0.1px solid var(--clr-grid);
}

@media (max-width: 700px) {
  .cellInput {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .cellInput {
    font-size: 1rem;
  }
}
