.win {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: white;
  padding: 0;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 117, 213), 0 0 82px rgb(0, 117, 213),
    0 0 92px rgb(0, 117, 213), 0 0 102px rgb(0, 117, 213),
    0 0 151px rgb(0, 117, 213);
}

.sudoku {
  margin: 4rem auto 1rem auto;
  display: grid;
  grid-template-columns: repeat(9, 4rem);
  grid-template-rows: repeat(9, 4rem);
  width: fit-content;
  border: 2px solid white;
  box-shadow: 0px 0 60px 5px rgb(0, 117, 213);
}

@media (max-width: 700px) {
  .sudoku {
    grid-template-columns: repeat(9, 3rem);
    grid-template-rows: repeat(9, 3rem);
  }
}

@media (max-width: 700px) {
  .sudoku {
    grid-template-columns: repeat(9, 3rem);
    grid-template-rows: repeat(9, 3rem);
  }
}

@media (max-width: 500px) {
  .sudoku {
    grid-template-columns: repeat(9, 2.5rem);
    grid-template-rows: repeat(9, 2.5rem);
  }
}

@media (max-width: 450px) {
  .sudoku {
    margin: 3rem auto 1rem auto;
    grid-template-columns: repeat(9, 2.25rem);
    grid-template-rows: repeat(9, 2.25rem);
  }
}
@media (max-width: 400px) {
  .sudoku {
    margin: 3rem auto 1rem auto;
    grid-template-columns: repeat(9, 1.75rem);
    grid-template-rows: repeat(9, 1.75rem);
  }
}
